<!DOCTYPE html>
<html lang="en" ng-app="carApp"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="js/angular.js"></script>
        <script src="js/app.js"></script> <!-- se agrega el modulo -->
        <script src="js/controllers.js"></script> <!--Se agrega un nuevo archivo Controller-->
        <script src="js/services.js"></script> <!-- se agrega los servicios-->
    </head>
    <body ng-controller="CarListCtrl"> <!-- se enlaza el controlador al body-->
        <ul>
            <!-- Agregamos un pequeño filtro-->
            <li ng-repeat="car in cars | filter:query"> <!-- se hace uso del scope dandole valor y comportamiento dentro de nuestros controladores -->
                <span>{{car.name}}</span>
                <p>{{car.snippet}}</p>
                <p>{{car.model}}</p>
            </li>
        </ul>
        <!-- Un formulario para ingresar colocar la busqueda!!!!-->
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label>Filtro</label>
                <input type="text"  ng-model="query">
            </div>
      </form>
    </body>
</html>
